@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin display_flex($flex-dir, $jc, $ai) {
  display: flex;
  flex-direction: $flex-dir;
  justify-content: $jc;
  align-items: $ai;
}
